@tailwind base;
@tailwind components;
@tailwind utilities;

a.external-url {
  @apply underline;
  @apply hover:no-underline;
}

.div-img {
  @apply inline-block;
  @apply m-2;
  @apply max-w-xs max-h-32;
}

.absolute-center {
  @apply absolute;
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

::-webkit-scrollbar {
  height: 10px !important;
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  width: 4px !important;
  border-radius: 8px;
  @apply bg-neutral;
}
